body {

  font-weight: 400;
  background-color: #7B8B9D;
  line-height: 1.5;
}

p {
    color: #ffffff;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden-text {
  visibility: hidden; /* Hide text by default */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Smooth transition for opacity */
}

.paper-hover:hover .hidden-text {
  visibility: visible; /* Make text visible when parent is hovered */
  opacity: 1;
}

.darken-on-hover {
  transition: filter 0.3s ease-in-out; /* Adjust time as needed */
  filter: brightness(100%); /* Default state */
}

.darken-on-hover:hover {
  filter: brightness(70%); /* Darken effect */
}
